@import url("https://fonts.googleapis.com/css2?family=Bitter&display=swap");

/* Creating the variable  */
:root {
  --green: green;
  --blue: skyblue;
  --black: #130f40;
  --light-color: #666;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  --border: 2rem solid rgba(0, 0, 0, 0.1);
  --outline: 0.1rem solid rgba(0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Bitter", serif;
  box-sizing: border-box;
  outline: none;
  border: none;
  /* to make the starting alphabet of each word uppercase  */
  text-transform: capitalize;
  text-decoration: none;
  transition: all 0.3s linear;
}

html {
  font-size: 80%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}

body {
  background-color: rgb(228, 228, 220);
}

/* css code for banner start */

.header {
  position: fixed;
  /*Makes the header section to be fixed and stick around the top of the webpage*/
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  /*To make it flexible such that in any of the device it is capable of displaying properly with greate responsiveness*/
  align-items: center;
  background-color: #fff;
  /*Justify content below leaves the space between logo's anker tag and nav tag*/
  justify-content: space-between;
  padding: 2rem 9%;
  box-shadow: var(--box-shadow);
  z-index: 200;
}

/* logo manipulation  */
.header .logo {
  font-size: 1.7rem;
  color: orange;
  font-weight: bold;
  /* margin-top: -2px; */
}

.header .logo i {
  color: rgb(86, 177, 86);
  margin-right: 0.3em;
}

.header .navbar a {
  font-size: 1.4rem;
  margin: 0 1em 0 1em;
  color: var(--black);
  cursor: pointer;
}

.header .navbar a:hover {
  color: var(--blue);
  /* transition: 3s; */
}

.header .icons {
  position: relative;
  left: 3em;
  right: 1em;
}

.header .icons a img {
  height: 3em;
  margin-right: 2.7em;
}

.icon-grouping {
  /* background-color: red; */
  /* border:2px solid black; */
  padding: 0.3em;
  border-radius: 4px;
}

#menubar {
  display: none;
}

.header .navbar .active {
  right: 2rem;
  transition: 0.4s linear;
}

#searchformbar {
  display: none;
}

.searchbarwrapper {
  position: absolute;
  top: 8em;
  right: 3em;
  background-color: white;
  border: 2px solid black;
  padding: 0.5em 1em 0.5em 1em;
  width: 40%;
}

.search-box {
  width: 90%;
  font-size: 1.3em;
}

#searchbaricon {
  position: relative;
  float: right;
  height: 1.5em;
  color: black;
}

#signinform {
  background-color: white;
  border: 2px solid pink;
  width: 40%;
  padding: 1em;
  position: absolute;
  top: 120%;
  right: 2rem;
  display: none;
}

#signintitle {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 0.5em;
  text-align: center;
}

#emailbox,
#passwordbox {
  border: 2px solid black;
  background-color: rgb(207, 201, 201);
  padding: 0.5em 0.2em 0.5em 0.2em;
  text-align: center;
  margin-bottom: 2em;
  justify-content: center;
  align-items: center;
  display: flex;
  text-transform: none;
  width: 80%;
}

/* Shopping cart styling  */
#shoppingcart {
  position: absolute;
  top: 95%;
  right: 3rem;
  border: 2px solid;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  width: 34rem;
  background-color: white;
  padding: 0 1rem 2rem 1rem;
  display: none;
}
/* styling internal divs of the shopping cart*/
.header .shopping-cart .box {
  /* padding: 1rem; */
  display: flex;
  align-items: center;
  gap: 2rem;
  position: relative;
  margin: 1rem 0;
}

/* Styling the image  */
.header .shopping-cart .box img {
  height: 11rem;
}
/* styling the trash icon*/
.header .shopping-cart .box .fa-trash {
  font-size: 2rem;
  position: absolute;
  top: 50%;
  right: 2rem;
  cursor: pointer;
  color: var(--light-color);
}
/* Hover effect on delete button*/
.header .shopping-cart .box .fa-trash:hover {
  color: red;
}
/* Total price styling  */
.header .shopping-cart .total {
  margin-bottom: 2em;
  text-align: center;
  font-size: 2rem;
}
.header .shopping-cart .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  color: white;
}

/*css code for banner done by rabin*/
section {
  padding: 2rem 9%;
}

/* css code fo banner end*/
.heading {
  text-align: center;
  padding: 2rem 0;
  padding-bottom: 3rem;
  font-size: 3.5rem;
  color: var(--black);
}

.heading span {
  background: var(--green);
  color: white;
  display: inline-block;
  padding: 0.8rem 3rem;
  clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.btn {
  border: 2px solid black;
  color: rgb(22, 21, 21);
  text-transform: capitalize;
  font-size: 2em;
  padding: 0.1em 0.5em;
  border-radius: 4px;

  /* margin:auto; */
}

.home {
  display: flex;
  justify-content: center;
  border: 0px solid;
  background: url(../image/banner-img.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 17rem;
  padding-bottom: 10rem;
}

.home .content {
  text-align: center;
  border: 0px solid;
  width: 60rem;
}

.home .content h3 {
  color: var(--black);
  font-size: 3rem;
}

.home .content h3 span {
  color: var(--green);
}

.home .content p {
  color: var(--light color);
  font-size: 1.7rem;
  padding: 1rem;
  line-height: 1.8;
}

/*Our Features section start by rabin*/
.features .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.features .box-container .box {
  padding: 3rem 2rem;
  background-color: white;
  outline: var(--outline);
  outline-offset: -1rem;
  text-align: center;
  box-shadow: var(--box-shadow);
}

.features .box-container .box img {
  width: 300px;
  height: 200px;
}

.features .box-container .box:hover {
  box-shadow: 1px 1px 10px 4px var(--green);
}

.features .box-container .box h3 {
  font-size: 2.5rem;
  line-height: 1.8;
  color: var(--black);
}

.features .box-container .box p {
  font-size: 1.5rem;
  line-height: 1.8;
  color: var(--light-color);
  padding: 1rem 0;
}

/*Features section end */
/* our products section css start*/
.products {
  border: 0px solid;
}

.products .product-slider {
  border: 0px solid;
  padding: 1rem;
}

.products .product-slider:first-child {
  margin-bottom: 2rem;
}

.products .product-slider .box {
  border: 0px solid red;
  background: white;
  border-radius: 0.5rem;
  text-align: center;
  padding: 3rem 2rem;
  outline-offset: -1rem;
  outline: var(--outline);
  box-shadow: var(var(--box-shadow));
  transition: 0.2sec linear;
}

.products .product-slider .box:hover {
  box-shadow: 1px 1px 10px 4px var(--green);
}

.products .product-slider .box img {
  height: 15rem;
}

.products .product-slider .box h1 {
  font-size: 2.5rem;
  color: var(--black);
}

.products .product-slider .box .price {
  font-size: 2rem;
  color: var(--light-color);
  padding: 0.5rem 0;
}

.products .product-slider .box .stars i {
  font-size: 1.7rem;
  color: orange;
  padding: 2rem 0;
}

/*Our POroducts section end of CSS done by (rabin)*/

/*Product categories secion start done by (rabin)*/
.categories .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem;
}

.categories .box-container .box {
  padding: 3rem 0;
  background: white;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  outline: var(--outline);
  outline-offset: -1rem;
  text-align: center;
}

.categories .box-container .box:hover {
  box-shadow: 1px 1px 10px 4px var(--green);
}

.categories .box-container .box h3 {
  font-size: 2rem;
  color: var(--black);
  line-height: 1.8;
}

.categories .box-container .box p {
  font-size: 1.7rem;
  color: var(--light-color);
  line-height: 1.8;
  padding: 1rem 0;
}

/*Product categories secion end done by (rabin)*/

/* footer css */
.footer
{
  background: #fff;
}
.footer .box-container {
  border: 0px solid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 1.5rem;
}
.footer .box-container .box h3 {
  font-size: 2.5rem;
  color: var(--black);
  padding: 1rem 0;
}
.footer .box-container .box h3 i {
  color: green;
}
.footer .box-container .box .links {
  display: block;
  font-size: 1.5rem;
  color: var(--light-color);
  padding: 1rem 0;
}
.footer .box-container .box .links i {
  color: var(--green);
  padding-right: 0.5rem;
}

.footer .box-container .box .links:hover i {
  padding-right: 2rem;
}

.footer .box-container .box p {
  line-height: 1.8;
  font-size: 1.5rem;
  color: var(--light-color);
  padding: 1rem 0;
}
.footer .box-container .box .share a {
  border: 0px solid;
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  border-radius: 0.5rem;
  font-size: 2rem;
  color: var(--black);
  margin-left: 0.2rem;
  background: #eee;
  text-align: center;
}
.footer .box-container .box .share a:hover {
  background: var(--green);
  color: #fff;
}
.footer .box-container .box .email {
  width: 100%;
  margin: 0.7rem 0;
  padding: 1rem;
  border-radius: 0.5rem;
  background: #eee;
  font-size: 1.6rem;
  color: var(--black);
  text-transform: none;
}
.footer .credit {
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
  padding-top: 2.5rem;
  font-size: 2rem;
  color: var(--black);
  border-top: var(--border);
}
.footer .credit span {
  color: var(--green);
}

/* footer css */

/* Media queries for the responsiveness of the site  */
@media (max-width: 991px) {
  html {
    font-size: 55%;
    /* overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem; */
  }

  .header {
    padding: 3rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menubar {
    display: inline-block;
  }
  .header .navbar {
    /* margin: 8px; */
    position: absolute;
    width: 30rem;
    top: 110%;
    right: 3rem;
    box-shadow: var(--box-shadow);
    border-radius: 0.8rem;
    background: #fff;
    display: none;
    /* top */
  }

  .header .navbar a {
    font-size: 2rem;
    margin: 2rem 3rem;
    display: block;
    text-align: center;
  }
}

/* For Smaller device  */
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .heading {
    font-size: 2.5rem;
  }
}
