* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    width: 7%;
    height: 7%;
}

.userLogin {
    width: 7%;
    height: 7%;
}

/* bootstrap class for product displaying in a row */
.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-img-top {
    width: 100%;
    height: 200px;
    /* for not adjustig the images as per the designed container */
    object-fit: contain;
    /* flex-grow: 1; */
}

.admin_Image {
    width: 200px;
    object-fit: contain;
}

.footer {
    position: absolute;
    bottom: 0;
}

.nav-link.active {
    text-decoration: underline;
    font-weight: bold;
    color: white;
}

/* footer css */
#foot {
    background-color: #fff;
}

.footer .box-container {
    border: 0px solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3 {
    font-size: 2.5rem;
    color: var(--black);
    padding: 1rem 0;
}

.footer .box-container .box h3 i {
    color: green;
}

.footer .box-container .box .links {
    display: block;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box .links i {
    color: var(--green);
    padding-right: 0.5rem;
}

.footer .box-container .box .links:hover i {
    padding-right: 2rem;
}

.footer .box-container .box p {
    line-height: 1.8;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box .share a {
    border: 0px solid;
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    border-radius: 0.5rem;
    font-size: 2rem;
    color: var(--black);
    margin-left: 0.2rem;
    background: #eee;
    text-align: center;
}

.footer .box-container .box .share a:hover {
    background: var(--green);
    color: #fff;
}

.footer .box-container .box .email {
    width: 100%;
    margin: 0.7rem 0;
    padding: 1rem;
    border-radius: 0.5rem;
    background: #eee;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
}

.footer .credit {
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: var(--black);
    border-top: var(--border);
}

.footer .credit span {
    color: var(--green);
}